[Desktop Entry]
Version=1.0
Type=Application
Name=KettleBrain
Comment=Brewing Controller
Path=PLACEHOLDER_PATH
Exec=PLACEHOLDER_EXEC_PATH
Icon=kettlebrain
StartupWMClass=KettleBrain
Terminal=false
Autostart=false
Categories=X-Other;
