[Desktop Entry]
Version=1.0
Type=Application
Name=WaterBrain
Comment=Water Chemistry Calculator
Path=/home/raspberrypi/kettlebrain/src
Exec=/home/raspberrypi/kettlebrain/venv/bin/python /home/raspberrypi/kettlebrain/src/main_water.py
Icon=/home/raspberrypi/kettlebrain/src/assets/water-drop.png
Terminal=false
StartupNotify=True
Categories=X-Other;
StartupWMClass=WaterBrain
